body{
  margin:0;
  overflow-x: hidden;
  background-color: black;
  font-family:"Permanent Marker";
}
button:hover{
  cursor:pointer;
}

#cover,.page{
  width:1440px;
  height:100%;
}

/* cover property */
.coverImg{
  width:100%;
  height:100%;
}
#covertext1{
  position:absolute;
  bottom:40px;
  left:200px;
  font-size: 28px;
}#covertext2{
  position:absolute;
  bottom:40px;
  left:1050px;
  font-size: 28px;
}
#cover{
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  color:white;
}
#cover.hide{
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    transform: translate(0px, -100%);
    -webkit-transform: translate(0px, -100%);
  }

/* popup property */
.pageImg{
  min-width:100%;
  min-height: 100%;
  width:auto;
  height:auto;
}
.popUp{
  visibility:hidden;
}

/* page property */
/* heading1 property */
#heading1{
  width:100%;
  height:120px;
  background-color: black;
  font-size: 80px;
  text-align: center;
  color: white;
}
/* s1 */
#s1-2-1{
  position:absolute;
  top:890px;
  left:590px;
}
#s1-2-2{
  position:absolute;
  top:980px;
  left:1008px;
}
#s1-2-3{
  position:absolute;
  top:1200px;
  left:144px;
}
#s1-2-4{
  position:absolute;
  top:1430px;
  left:1008px;
}
#s1-2-5{
  position:absolute;
  top:1650px;
  left:590px;
}
#s1-2-1.show,#s1-2-4.show{
  visibility: visible;
  -webkit-animation:fadeIn 0.3s;
  animation: fadeIn 0.3s;
}
#s1-2-3.show{
  visibility: visible;
  -webkit-animation:fadeIn 0.5s;
  animation: fadeIn 0.5s;
}
#s1-2-2.show{
  visibility: visible;
  -webkit-animation:fadeIn 1s;
  animation: fadeIn 1s;
}
#s1-2-5.show{
  visibility: visible;
  -webkit-animation:fadeIn 0.8s;
  animation: fadeIn 0.8s;
}

/*heading2 property*/
#heading2{
  width:100%;
  height:600px;
  /* background-color: black; */
  background-image:linear-gradient(black,white);
  font-size: 80px;
  text-align: center;
  color: gray;
}
#nextday{
  position:relative;
  top:400px;
}
/* s2-1 */
#s2-1-1{
  position:absolute;
  top:2700px;
  left:763px;
}
#s2-1-1.show{
  visibility: visible;
  -webkit-animation:fadeIn 1.5s;
  animation: fadeIn 1.5s;
}
/* s2-2 */
#s2-2-1{
  position:absolute;
  top:3300px;
  left:216px;
}
#s2-2-1.show,#s2-2-2.show,#s2-2-3.show{
  visibility: visible;
  -webkit-animation:fadeIn 0s;
  animation: fadeIn 0s;
}
#s2-2-2{
  position:absolute;
  top:3800px;
  left:172.8px;
}
#s2-2-3{
  position:absolute;
  top:4000px;
  left:259.2px;
}
#s2-2-4{
  position:absolute;
  top:3700px;
  left:720px;
}
#s2-2-4.show{
  visibility: visible;
  -webkit-animation:fadeIn 0.8s;
  animation: fadeIn 0.8s;
}
#lookleft{
  background-color: lightgray;
  border-style: inset;
  border-color: gray;
  border-width: medium;
  position:absolute;
  top:3840px;
  left:806.4px;
}
#lookleft.show{
  visibility: visible;
  -webkit-animation:fadeIn 1s;
  animation: fadeIn 1s;
}


@-webkit-keyframes fadeIn{
  from{opacity:0;}
  to{opacity: 1;}
}
@keyframes fadeIn{
  from{opacity:0;}
  to{opacity: 1;}
}
@-webkit-keyframes slideIn{
  0%{left:-100%;opacity:1;}
  40%{left:-10%;opacity:1;}
  100%{left:80%;opacity:0;}
}
@keyframes slideIn{
  0%{left:-100%;opacity:1;}
  40%{left:-10%;opacity:1;}
  100%{left:80%;opacity:0;}
}

#but{
  opacity:0;
  position:absolute;
  top:4370px;
  left:960px;
}
