body{
  margin:0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  font-family:"Permanent Marker";
}
button:hover{
  cursor:pointer;
}
.page{
  width:1440px;
  height:100%;
}

/*heading & interval property*/
#heading{
  width:100%;
  height:200px;
  background-image:linear-gradient(black,white);
}
#arrow1{
  width:150px;
  height:80px;
}
#interval{
  width:100%;
  height:500px;
  background-color:white;
}

/* popup property */
.pageImg{
  min-width:100%;
  min-height: 100%;
  width:auto;
  height:auto;
}

.popUp{
  visibility:hidden;
}
/* page property */
/* s4-1 */
#s4-1-1{
  width:30%;
  position:absolute;
  top:150px;
  left:172.8px;
}
#s4-1-2{
  width:42%;
  position:absolute;
  top:440px;
  left:648px;
}
#s4-1-3{
  display:block;
  position:absolute;
  top:850px;
  left:-100%;
}
#s4-1-1.show{
  visibility: visible;
  -webkit-animation:fadeIn 0.8s;
  animation: fadeIn 0.8s;
}
#s4-1-2.show{
  visibility: visible;
  -webkit-animation:fadeIn 0.2s;
  animation: fadeIn 0.2s;
}#camera{
  opacity:0;
  position:absolute;
  top:2610px;
  left:560px;
}
#camera:hover{
  cursor: pointer;
  opacity:1;
}
/* s4-2 */
#s4-2-1{
  width:80%;
  position:absolute;
  top:2700px;
  left:187.2px;
}
#s4-2-1.show{
  visibility: visible;
  -webkit-animation:fadeIn 1s;
  animation: fadeIn 1s;
}

/* s4-3 */
#s4-3-1{
  width:65%;
  position:absolute;
  top:4400px;
  left:244.8px;
}
#s4-3-1.ring{
  visibility: visible;
  -webkit-animation:ringing 0.7s;
  animation: ringing 0.7s;
  animation-iteration-count: infinite;
}
#s4-3-2{
  width:67%;
  position:absolute;
  top:5000px;
  left:504px;
}
#s4-3-3{
  width:41%;
  position:absolute;
  top:5490px;
  left:777.6px;
}
#s4-3-2.show,#s4-3-3.show{
  visibility: visible;
  -webkit-animation:fadeIn 0.3s;
  animation: fadeIn 0.3s;
}


#check{
  position:absolute;
  top:6400px;
  left:475.2px;
}
input.but{
  background-color: lightgray;
  border-style: inset;
  border-color: gray;
  border-width: medium;
}

@-webkit-keyframes fadeIn{
  from{opacity:0;}
  to{opacity: 1;}
}
@keyframes fadeIn{
  from{opacity:0;}
  to{opacity: 1;}
}
@-webkit-keyframes slideIn{
  0%{left:-100%;}
  100%{left:20%;}
}
@keyframes slideIn{
  0%{left:-100%;}
  100%{left:20%;}
}
@-webkit-keyframes ringing{
  0%{opacity:0;}
  50%{opacity: 1;}
  100%{opacity: 0;}
}
@keyframes ringing{
  0%{opacity:0;}
  50%{opacity: 1;}
  100%{opacity: 0;}
}
