body{
  margin:0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
  font-family:"Permanent Marker";
}
.page{
  width:1440px;
  height:100%;
}
.pageImg{
  min-width:100%;
  min-height: 100%;
  width:auto;
  height:auto;
}
/* popup property */
.popUp{
  visibility:hidden;
}
/* page property */
/* s5-2-1 */
#laptopButton{
  cursor:pointer;
  position:absolute;
  top:375px;
  left:880px;
  width:130px;
  height:36px;
  border-style: inset;
  border-color: lightgray;
  border-width: medium;
  font-size: 24px;
}
#downloading{
  width:725px;
  position:relative;
  top:-625px;
  left:355px;
}
#arrow{
  position:relative;
  top:-460px;
  left:635px;
  width:150px;
  height:100px;
}
#s5-2-1-2{
  width:50%;
  position:relative;
  top:-100px;
  left:600px;
}
#s5-2-1-step1{
  width:13%;
  position:relative;
  top:-320px;
  left:370px;
}
#s5-2-1-step2{
  width:20%;
  position:relative;
  top:-650px;
  left:470px;
}
#s5-2-1-3{
  height:700px;
  width:100%;
  position:relative;
  top:-200px;
  left:-100%;
}
#s5-2-1-complete{
  width:100%;
  position:relative;
  top:350px;
  left:0px;
}
#s5-2-1-4{
  position:relative;
  top:750px;
  left:0px;
}
#s5-2-1-paul{
  width:60%;
  position:relative;
  top:-520px;
  left:-50px;
  transform:rotate(-10deg);
}
#s5-2-1-sure{
  width:30%;
  position:relative;
  top:-500px;
  left:900px;
}
#downloading.show{
  visibility: visible;
  -webkit-animation:fadeIn;
  animation: fadeIn;
}
#arrow.show{
  visibility: visible;
  -webkit-animation:fadeIn 0.5s;
  animation: fadeIn 0.5s;
}
#s5-2-1-step1.show{
  visibility: visible;
  -webkit-animation:fadeIn 1s;
  animation: fadeIn 1s;
}
#s5-2-1-step2.show{
  visibility: visible;
  -webkit-animation:fadeIn 1s;
  animation: fadeIn 1s;
}
#s5-2-1-complete.show{
  visibility: visible;
  -webkit-animation:fadeIn 0s;
  animation: fadeIn 0s;
}
#s5-2-1-paul.show{
  visibility: visible;
  -webkit-animation:fadeIn 0.8s;
  animation: fadeIn 0.8s;
}
#s5-2-1-sure.show{
  visibility: visible;
  -webkit-animation:fadeIn 0s;
  animation: fadeIn 0s;
}

/* s5-2-2 */
#interval{
  width:100%;
  height:500px;
  position:relative;
  top:300px;
  background-image:linear-gradient(black,white,black);
  font-size: 66px;
  text-align: right;
  color: lightgray;
}
#s5-2-2{
  width:70%;
  position:relative;
  top:300px;
  left:0px;
}
#s5-2-2-1{
  position:relative;
  top:-300px;
  left:50px;
}
#s5-2-2-2{
  position:relative;
  top:-200px;
  left:750px;
}
#s5-2-2-1.show{
  visibility: visible;
  -webkit-animation:fadeIn 0s;
  animation: fadeIn 0s;
}
#s5-2-2-2.show{
  visibility: visible;
  -webkit-animation:fadeIn 0.4s;
  animation: fadeIn 0.4s;
}
/* s5-2-3 */
#s5-2-3-1{
  width:100%;
  position:relative;
  top:0px;
  left:0px;
}
#s5-2-3-2{
  position: relative;
  top:130px;
  left:450px;
}
#s5-2-3-1.show{
  visibility: visible;
  -webkit-animation:jumpIn 0.6s;
  animation: jumpIn 0.6s;
}

/* s5-2-4 */
#s5-2-4-1{
  width:100%;
  position:relative;
  top:-50px;
  left:0px;
}
#s5-2-4-2{
  position:relative;
  top:0px;
  left:250px;
}
#s5-2-4-1.show{
  visibility: visible;
  -webkit-animation:fadeIn 0.2s;
  animation: fadeIn 0.2s;
}
#s5-2-4-2.show{
  visibility: visible;
  -webkit-animation:fadeIn 0.6s;
  animation: fadeIn 0.6s;
}

/* the end */
input.but{
  background-color: white;
  border-style: inset;
  border-color: lightgray;
  border-width: medium;
}
.end{
  margin-top:200px;
  position:relative;
  top:0px;
  width:100%;
  height:250px;
  background-color: black;
  color:white;
  text-align: center;
}
.buttons{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

@-webkit-keyframes fadeIn{
  from{opacity:0;}
  to{opacity: 1;}
}
@keyframes fadeIn{
  from{opacity:0;}
  to{opacity: 1;}
}
@-webkit-keyframes jumpIn{
  0%{opacity:0;top:-100px;}
  40%{opacity:0.6;top:200px;}
  100%{opacity: 1;top:0px;}
}
@keyframes jumpIn{
  0%{opacity:0;top:-100px;}
  40%{opacity:0.6;top:200px;}
  100%{opacity:1;top:0px;}
}
@-webkit-keyframes slideIn{
  from{left:-100%;width:0%;}
  to{left:0%;width:100%;}
}
@keyframes slideIn{
  from{left:-100%;width:0%;}
  to{left:0%;width:100%;}
}
