html,body{
  margin:0;
  overflow: hidden;
  background-color: black;
  font-family:"Permanent Marker";
}
.page{
  width:1440px;
  height:100%;
}
.pageImg{
  min-width:100%;
  min-height: 100%;
  width:auto;
  height:auto;
}
/* popup property */
.thisIsAButton{
  opacity:0;
}
.thisIsAButton:hover{
  opacity:1;
}
/* none items */
#flower{
  position:relative;
  top:-530px;
  left:875px;
}
#smallDrawer{
  position:relative;
  top:-532px;
  left:763px;
}
#lowerDrawer{
  position:relative;
  top:-509px;
  left:953px;
}
/* useful items */
#upperDrawer{
  position:relative;
  top:-721px;
  left:954px;
}
#fileFolder{
  position:relative;
  top:-893px;
  left:569px;
}
/* slideInAlert */
#Usb{
  width:40%;
  display:block;
  position:absolute;
  top:50px;
  right:-100%;
}
#Folder{
  width:30%;
  display:block;
  position:absolute;
  top:200px;
  left:-100%;
}

@-webkit-keyframes fadeIn{
  from{opacity:0;}
  to{opacity: 1;}
}
@keyframes fadeIn{
  from{opacity:0;}
  to{opacity: 1;}
}
@-webkit-keyframes slideInLeft{
  from{left:-100%;}
  to{left:0%;}
}
@keyframes slideInLeft{
  from{left:-100%;}
  to{left:0%;}
}
@-webkit-keyframes slideInRight{
  from{right:-100%;}
  to{right:0%;}
}
@keyframes slideInRight{
  from{right:-100%;}
  to{right:0%;}
}

#but{
  visibility:hidden;
  position:absolute;
  top:400px;
  left:35%;
}
